/* src/components/Shared/ModuleCard.module.css */

.moduleCard {
  background-color: var(--ifm-background-color);
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: var(--ifm-global-shadow-lw);
}

.moduleHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.moduleIcon {
  font-size: 1.5rem;
  margin-right: 10px;
  color: var(--ifm-color-primary);
}

.moduleImage {
  width: 48px; /* Adjust size as needed */
  height: 48px;
  margin-right: 10px;
}

.moduleCard h3 {
  font-size: 1.1rem;
  margin: 0;
  color: var(--ifm-font-color-base);
}

.chapterList {
  list-style: none;
  padding-left: 30px;
  margin: 0;
  font-size: 0.9rem;
}

.chapterList li {
  margin-bottom: 5px;
  color: var(--ifm-font-color-secondary);
}